.view{
    /* width: 73%; */
    width: auto;
    height: auto;
    margin-bottom: 90px;
    margin-left: 18.5%;
}
h1{
    color: rgb(74, 74, 197);
}


.view {
    padding: 20px;
  }
  
  .board-container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 20px;

  }
  
  .board-item {
    /* background: #b8bec4; */
    border: 1px solid rgb(56, 42, 163);
    color:#343a40;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(157, 150, 213);
  }
  
  .board-item h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .board-item p {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
  }
  .sidebar-toggle-icon {
    font-size: 24px;
    cursor: pointer;
    color: rgb(0, 0, 0);
  }
  .pie-container{
    margin-right: 70%;
    /* margin-left: ; */
    height: 250px;
  }
  .pie{
    margin-left: 50%;
    margin-top: -300px;
  }