
.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.blog-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  max-width: 250px;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.blog-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.blog-role {
  font-size: 19px;
  color: #2e2d2d;
}



.blog-container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.blog-card2 {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  max-width: 250px;
}

.blog-card2:hover {
  transform: translateY(-5px);
}

.blog-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}


